.header {
  padding: 20px 0;
}
h1:hover,
h1:focus {
  color: #747bff;
  
}
a:hover,
a:focus {
  color: #747bff;
  font-size: xx-large;
  font-weight: 800;
  
}


.nav-list {
  display: block;
  align-items: center;
  justify-content: left;
  gap: 40px;
  align-self: start;
}

.nav-link {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.02em;
  line-height: 3;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
